@model PruebaTecnicaAlmarchivos.Models.Personas

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Eliminar Persona</h4>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger">
                    ¿Desea eliminar el contacto: @Html.DisplayTextFor(m => m.Nombres)  @Html.DisplayTextFor(m => m.Apellidos) ?
                </div>

                <form action="@Url.Action("Eliminar","Personas")" method="post">
                    <input type="hidden" class="form-control" name="Id" value="@Html.DisplayTextFor(m => m.Id)" />

                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a class="btn btn-warning" href="@Url.Action("Inicio","Personas")">Volver</a>
                </form>

            </div>
        </div>


    </div>
</div>

